@keyframes menu-appearance {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes rotating-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-stop {
  from {
    opacity: 100%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  color: #000;
}

img {
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: "Shrikhand", cursive;
}

h1, h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.header {
  font-family: "Shrikhand", cursive;
  font-size: 36px;
}

.footer__title {
  font-family: "Shrikhand", cursive;
}

.button {
  display: flex;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  padding: 20px;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  box-shadow: 1px 1px 8px #999;
  color: #FFF;
}
.button:hover {
  background: linear-gradient(-10deg, #782cd3, #ff46cc);
  box-shadow: 2px 2px 8px #4d4d4d;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  font-family: "Shrikhand", cursive;
  font-size: 36px;
}
.header__link {
  display: block;
  width: 32px;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 0;
}
.header__link--other-side {
  margin-left: 0;
  margin-right: 30px;
}
.header__link i {
  color: #000;
}
.header__title {
  margin: 0;
}

.footer {
  padding: 20px;
  background-color: #353535;
  color: #FFF;
}
.footer__title {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) {
  .footer__title {
    text-align: center;
  }
}
.footer__elements {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .footer__elements {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}
.footer__elements li {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .footer__elements li {
    width: 24%;
  }
}
.footer__elements li a {
  text-decoration: none;
  color: #FFF;
}
.footer__elements li a i.fa-handshake {
  transform: rotate(-45deg);
}
.footer__elements li a:hover {
  text-decoration: underline;
}

.restaurant-card-link {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 768px) {
  .home-main-tag {
    box-shadow: inset 0px 5px 10px -12px #000;
  }
}
.home-main-tag__section {
  background-color: #F6F6F6;
  padding: 50px 20px;
}
.home-main-tag__section--centered {
  text-align: center;
}
.home-main-tag__section--other-background {
  background-color: #FFF;
}
.home-main-tag > div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .home-main-tag > div {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .home-main-tag > div > section {
    width: 48%;
  }
  .home-main-tag > div > section:nth-child(2) {
    padding: 0 20px;
    box-shadow: inset 0px 5px 10px -12px #000;
  }
}
@media screen and (min-width: 768px) {
  .home-main-tag > div:nth-child(1) > section:nth-child(1) {
    background-color: #FFF;
  }
}

.restaurant-selection {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.restaurant-selection__location {
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: inset 0px 5px 10px -12px #000;
  padding: 20px 0;
  background-color: #dddddd;
  color: #333333;
}
.restaurant-selection__location i {
  margin-right: 20px;
}
.restaurant-selection__location input {
  background: #dddddd;
  border: none;
  width: 100px;
}
.restaurant-selection__title {
  font-family: "Roboto", sans-serif;
  margin: 50px 40px 20px 40px;
}
.restaurant-selection__text {
  margin: 0 30px 30px 30px;
  color: #333333;
}

.website-instructions__title {
  font-family: "Roboto", sans-serif;
}
.website-instructions__list__item {
  margin: 0 0 20px 0;
  border: none;
  border-radius: 20px;
  padding: 30px 50px;
  width: 100%;
  text-align: left;
  background-color: #F6F6F6;
  box-shadow: 1px 1px 8px #999;
}
.website-instructions__list__item span {
  display: inline-block;
  border-radius: 12px;
  padding: 5px;
  width: 24px;
  height: 24px;
  position: relative;
  left: -60px;
  background: #9356DC;
  color: #FFF;
  text-align: center;
}
.website-instructions__list__item i {
  margin-right: 20px;
  color: #000;
}
.website-instructions__list__item:hover {
  background-color: #dddddd;
}
.website-instructions__list__item:hover i {
  color: #9356DC;
}

.restaurants-section__title {
  font-family: "Roboto", sans-serif;
}
.restaurants-section__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants-section__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  .restaurants-section__content > div {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants-section__content > div {
    width: 31%;
  }
}

.restaurant-card {
  display: block;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #999;
}
.restaurant-card__illustration {
  position: relative;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 170px;
}
.restaurant-card__illustration__picture {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 170px;
}
.restaurant-card__illustration__picture img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 170px;
}
.restaurant-card__illustration__sticker {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  line-height: 30px;
}
.restaurant-card > div {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  padding: 0 20px 10px 20px;
  background-color: #FFF;
}
.restaurant-card__description {
  flex: 1;
}
.restaurant-card__description__name {
  font-family: "Roboto", sans-serif;
}
.menu-main-tag {
  background-color: #F6F6F6;
}

.hero {
  height: 240px;
}
.hero > img {
  width: 100%;
  height: 240px;
}

.menu {
  position: relative;
  top: -40px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  border-radius: 40px 40px 0 0;
  padding: 20px 20px 0 20px;
  background-color: #F6F6F6;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .menu__title {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media screen and (min-width: 992px) {
  .menu__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.menu__title > h1 {
  flex: 1;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .menu__content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 992px) {
  .menu__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu__button-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 992px) {
  .menu__button-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.plates-group {
  margin-bottom: 40px;
  padding: 0;
}
@media screen and (min-width: 992px) {
  .plates-group {
    width: 33%;
  }
}
.plates-group__title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px;
}
.plates-group__title-underlining {
  margin: 0 20px 10px 20px;
  border: 1px solid #99E2D0;
  width: 10%;
}
.plates-group__container {
  overflow: hidden;
}
.plates-group__content {
  padding: 10px 20px 0 20px;
  animation: menu-appearance 0.5s both;
}

.appetizers .plates-group__content {
  animation-delay: 0.5s;
}

.main-courses .plates-group__content {
  animation-delay: 1.5s;
}

.desserts .plates-group__content {
  animation-delay: 2.5s;
}

.menu-item {
  display: flex;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 1px 1px 8px #999;
  overflow: hidden;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item:hover .menu-item__checked {
  width: 60px;
}
.menu-item:hover .menu-item__checked i {
  transform: translateX(0) rotate(0deg);
}
.menu-item__description {
  flex: 1;
  min-width: 20px;
}
.menu-item__description > div {
  display: flex;
}
.menu-item__description__name {
  font-family: "Roboto", sans-serif;
  margin: 0 0 14px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-item__description__additional-information {
  margin: 0;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-item__description__price {
  margin: 0;
  width: 30px;
  text-align: right;
  font-weight: bold;
}
.menu-item__checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  background-color: #99E2D0;
  color: #F6F6F6;
  margin: -20px -20px -20px 20px;
  border-radius: 0 20px 20px 0;
  transition: width 300ms ease-in-out;
}
.menu-item__checked i {
  display: inline-block;
  font-size: 24px;
  transform: translateX(60px) rotate(-360deg);
  transition: transform 500ms ease-in-out;
}

.order-button {
  padding-left: 50px;
  padding-right: 50px;
}

/*# sourceMappingURL=style.css.map */
