* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #FFF;
    color: #000;
  }
  
  img {
    object-fit: cover;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
  
  h1, h2, h3 {
    font-family: "Shrikhand", cursive;
  }
  
  h1, h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  .header {
    font-family: "Shrikhand", cursive;
    font-size: 36px;
    text-align: center;
  }

 

  .restaurant-card__illustration__picture {
    position: absolute;
    z-index: 1;
    width: auto;
    height: 170px;
  }

  .restaurant-card__illustration__picture img {
    border-radius: 20px 20px 0 0;
   width: ;
    height: 170px;
  }
  
  .restaurant-card > div {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 20px 20px;
    padding: 0 20px 10px 20px;
    background-color: #FFF;
  }
  .restaurant-card__description {
    flex: 1;
  }
  .restaurant-card__description__name {
    font-family: "Roboto", sans-serif;
  }

  .restaurant-card-link {
    text-decoration: none;
    color: #000;
  }

  .restaurants-section__title {
    font-family: "Roboto", sans-serif;
  }
  .restaurants-section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .restaurants-section__content > div {
    width: 31%;
  }

  .like-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
  }