.restaurant-card-link {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 768px) {
  .home-main-tag {
    -webkit-box-shadow: inset 0px 5px 10px -12px #000;
            box-shadow: inset 0px 5px 10px -12px #000;
  }
}

.home-main-tag__section {
  background-color: #F6F6F6;
  padding: 50px 20px;
}

.home-main-tag__section--centered {
  text-align: center;
}

.home-main-tag__section--other-background {
  background-color: #FFF;
}

.home-main-tag > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .home-main-tag > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .home-main-tag > div > section {
    width: 48%;
  }
  .home-main-tag > div > section:nth-child(2) {
    padding: 0 20px;
    -webkit-box-shadow: inset 0px 5px 10px -12px #000;
            box-shadow: inset 0px 5px 10px -12px #000;
  }
}

@media screen and (min-width: 768px) {
  .home-main-tag > div:nth-child(1) > section:nth-child(1) {
    background-color: #FFF;
  }
}

.restaurant-selection {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.restaurant-selection__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: inset 0px 5px 10px -12px #000;
          box-shadow: inset 0px 5px 10px -12px #000;
  padding: 20px 0;
  background-color: #dddddd;
  color: #333333;
}

.restaurant-selection__location i {
  margin-right: 20px;
}

.restaurant-selection__location input {
  background: #dddddd;
  border: none;
  width: 100px;
}

.restaurant-selection__title {
  font-family: 'Roboto', sans-serif;
  margin: 50px 40px 20px 40px;
}

.restaurant-selection__text {
  margin: 0 30px 30px 30px;
  color: #333333;
}

.website-instructions__title {
  font-family: 'Roboto', sans-serif;
}

.website-instructions__list__item {
  margin: 0 0 20px 0;
  border: none;
  border-radius: 20px;
  padding: 30px 50px;
  width: 100%;
  text-align: left;
  background-color: #F6F6F6;
  -webkit-box-shadow: 1px 1px 8px #999;
          box-shadow: 1px 1px 8px #999;
}

.website-instructions__list__item span {
  display: inline-block;
  border-radius: 12px;
  padding: 5px;
  width: 24px;
  height: 24px;
  position: relative;
  left: -60px;
  background: #9356DC;
  color: #FFF;
  text-align: center;
}

.website-instructions__list__item i {
  margin-right: 20px;
  color: #000;
}

.website-instructions__list__item:hover {
  background-color: #dddddd;
}

.website-instructions__list__item:hover i {
  color: #9356DC;
}

.restaurants-section__title {
  font-family: 'Roboto', sans-serif;
}

.restaurants-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .restaurants-section__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .restaurants-section__content > div {
    width: 48%;
  }
}

@media screen and (min-width: 992px) {
  .restaurants-section__content > div {
    width: 31%;
  }
}

.restaurant-card {
  display: block;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 8px #999;
          box-shadow: 1px 1px 8px #999;
}

.restaurant-card__illustration {
  position: relative;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 170px;
}

.restaurant-card__illustration__picture {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 170px;
}

.restaurant-card__illustration__picture img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 170px;
}

.restaurant-card__illustration__sticker {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  line-height: 30px;
}

.restaurant-card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 20px 20px;
  padding: 0 20px 10px 20px;
  background-color: #FFF;
}

.restaurant-card__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.restaurant-card__description__name {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=main.css.map */