* {
    box-sizing: border-box;
}

body {
    background-color: $color-background-body;
    color: $color-text-body;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
       
}

img {
    object-fit: cover;
}
