$font-size: 36px 24px 16px 14px;

body {
    font-family: 'Roboto', sans-serif;
    font-size: nth($font-size, 4);
}

h1, h2, h3 {
    font-family: 'Shrikhand', cursive;
}

h1, h2 {
    font-size: nth($font-size, 2);
}

h3 {
    font-size: nth($font-size, 3);
}

.header {
    font-family: 'Shrikhand', cursive;
    font-size: nth($font-size, 1);
}

.footer__title {
    font-family: 'Shrikhand', cursive;
}