$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background-body: #FFF;
$color-text-body: #000;

$color-background-header: $color-background-body;
$color-background-main-primary: #F6F6F6;
$color-background-main-secondary: #FFF;
$color-background-footer: #353535;

$color-text-footer: #FFF;

$like-button-border-color: #000;
$like-button-color: #000;
$active-like-button-color: linear-gradient($color-primary, $color-secondary);

$shadow-color: #999;

$breakpoints: (
    tablet: 768px,
    desktop: 992px
);